# Ignore files which may accidentally be added into git
.idea
.DS_store

devbot.sqlite
.env

project-build
.github
bin
documentation
terraform
test
vendor

Dockerfile
_config.yml
LICENSE.md
README.md
SECURITY.md
slack-app-manifest.yml

# Git is not needed after deploy
.git
.gitignore
.gitkeep
