.idea
vendor
.env

#Events dir
events/*

#Exclude from ignoring the example of event files
!events/defined-events.go.dist
!events/base
!events/dictionary
!events/example
!events/examplescenario
!events/eventslist
devbot.sqlite

terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.d/
terraform/local.container_definition.tf
terraform/terraform.tfvars

bin
project-build

scripts/install/run
scripts/update/run
scripts/dictionary-loader/run

test/testdata/database