package events

import (
	"github.com/sharovik/devbot/events/cancelscenario"
	"github.com/sharovik/devbot/events/eventslist"
	"github.com/sharovik/devbot/events/example"
	"github.com/sharovik/devbot/events/examplescenario"
	"github.com/sharovik/devbot/events/listopenconversations"
	"github.com/sharovik/devbot/events/repeatevent"
	"github.com/sharovik/devbot/events/unknownquestion"
	"github.com/sharovik/devbot/internal/container"
)

//DefinedEvents the list of available events
var DefinedEvents = map[string]container.DefinedEvent{
	example.EventName: example.Event,
	eventslist.EventName: eventslist.Event,
	examplescenario.EventName: examplescenario.Event,
	cancelscenario.EventName: cancelscenario.Event,
	listopenconversations.EventName: listopenconversations.Event,
	unknownquestion.EventName: unknownquestion.Event,
	repeatevent.EventName: repeatevent.Event,
}
