package events

import (
	"github.com/sharovik/devbot/events/base"
	"github.com/sharovik/devbot/events/dictionary"
	"github.com/sharovik/devbot/events/themerwordpress"
)

//DefinedEvents collects all the events which can be triggered by the messages
var DefinedEvents = base.Events{}

func init() {
	DefinedEvents.Events = make(map[string]base.Event)
	DefinedEvents.Events[themerwordpress.EventName] = themerwordpress.Event
	DefinedEvents.Events[dictionary.EventName] = dictionary.Event
}
